#champions .cell {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.ui-slider-horizontal {
    height: 0.3em;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.8em;
    height: 0.9em;
    cursor: default;
}

.ui-widget-header {
    border: 1px solid #E78F08;
    background: #000000;
    color: white;
    font-weight: bold;
}

#era {
    font-size: large;
}
